<form>
   <p class="clasificacion">
    <input [(ngModel)]="points" (click)="PointMovie(1)" id="radio1" type="radio"  name="estrellas" value="5">
    <input [(ngModel)]="points" (click)="PointMovie(2)"id="radio2" type="radio" name="estrellas" value="4">
    <input [(ngModel)]="points" (click)="PointMovie(3)" id="radio3" type="radio" name="estrellas" value="3">
    <input [(ngModel)]="points" (click)="PointMovie(4)" id="radio4" type="radio" name="estrellas" value="2">
    <input [(ngModel)]="points" (click)="PointMovie(5)" id="radio5" type="radio" name="estrellas" value="1">
  </p>
</form>
